
.navbar-outside{
    background-color: var(--navy);
}

.navbar_options{ 
     margin-bottom: 12px;
     position: fixed;
     right: 12px;
     bottom: 12px;
     display: flex;
     flex-direction: column;
}

.navbar_menuIcon{
    display: none;
}

.navbar-home, .navbar-about, .navbar-software_creation {
    color: var(--lightest-slate);
    font-family: var(--font-title);
    font-size:  22px;
    text-decoration: none;
    margin: 12px;
}

.navbar_menu-icon,
.navbar_options-mobile {
    display: none;
}

@media (max-width:  768px) {

    .navbar_menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        width:  100%;
        padding:  10px  20px;
    }

    .navbar_options{
        display: none;
    }
    
    .navbar-inside {
        display: block;
        margin:  0;
    }

    .navbar-home::after, .navbar-about::after, .navbar-software_creation::after {
        display: inline-block;
    }

    .navbar-outside {
        background-color: var(--navy);
        position: fixed; 
        top:  0; 
        left:  0; 
        width:  100%; 
        z-index:  1000; 
        padding-top: 40px;
    }
    
    .navbar_menu{
        position: fixed;
        right: 4px;
        top: 3px;
    }

    .navbar_menuIcon{
        right: 2px;
        top: 2px;
        position: fixed;
        color: aliceblue;
        margin: 2px 6px 2px 2px;;
    }

    .navbar_options-mobile{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        right: 0px;
        top: 40px;
        bottom: 0px;
        justify-content: end;
        display: none;
        
    }

    .navbar-home_mobile {

        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
        align-items: end;
    }

    .navbar_options-mobile.open{
        display: block;
    }

    .navbar-about_mobile{

        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
    }
     .navbar-software_creation_mobile{
        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
    }
    .navbar-blog_mobile{
        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
    }

   
}
