
.navbar-outside{
    background-color: var(--navy);
    position: fixed; 
    top:  0; 
    left:  0; 
    width:  100%; 
    z-index:  1000;
}

.navbar-outside{
    justify-content: space-between;
    align-items: center;
}

.navbar_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.github_icon, .linkedin_icon , .twitter_icon, .email_icon{
    color: var(--lightest-slate);
    margin: 12px 4px 4px 12px; 
}
.github_icon:hover, .linkedin_icon:hover , .twitter_icon:hover, .email_icon :hover{
    cursor: pointer;
    color: var(--green-bright);
}

.navbar_logo-text{
    display: flex;
    flex-direction: row;
    font-family: var(--font-title);
    color: var(--lightest-slate);
    font-size: 22px;
    margin: 12px 12px 12px 12px;
}

.navbar_options{ 
     margin-bottom: 12px;
     position: fixed;
     right: 12px;
     bottom: 12px;
     display: flex;
     flex-direction: column;
}

.navbar_menuIcon{
    display: none;
}

.navbar-home, .navbar-about, .navbar-software_creation {
    color: var(--lightest-slate);
    font-family: var(--font-title);
    font-size:  22px;
    text-decoration: none;
    margin: 12px;

}

.navbar_menu-icon,
.navbar_options-mobile {
    display: none;
}

.navbar_options :hover{
    cursor: pointer;
    color: var(--green-bright);
}

@media (max-width:  768px) {

    .navbar_menu-icon {
        display: block;
        cursor: pointer;
        margin: 30px 6px 0 0;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        width:  100%;
        padding:  10px  20px;
    }

    .navbar_options{
        display: none;
    }
    
    .navbar-inside {
        display: block;
        margin:  0;
    }

    .navbar-home::after, .navbar-about::after, .navbar-software_creation::after {
        display: inline-block;
    }

    .navbar-outside {
        background-color: var(--navy);
        position: fixed; 
        top:  0; 
        left:  0; 
        width:  100%; 
        z-index:  1000; 
        padding-top: 40px;
    }
    
    .navbar_menu{
        position: fixed;
        right: 4px;
        top: 3px;
    }

    .navbar_menu-Icon{
        right: 2px;
        top: 2px;
        position: fixed;
        color: aliceblue;
        margin: 2px 6px 2px 2px;
        cursor: pointer;
    }

   

    .navbar_options-mobile{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0px; 
        top: 40px;
        bottom: 0px;
        margin: 52px 0 0 0;
        cursor: pointer;
        justify-content: start;
        transform: translateX(100%); 
        transition: transform 0.5s ease-out; 
        
    }

    .navbar_options-mobile.open {
        transform: translateX(0); 

    }

    .navbar-home_mobile {
        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
        align-items: end;
    }



    .navbar-about_mobile{

        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
        align-items: end;
    }

     .navbar-software_creation_mobile{
        font: var(--font-title);
        color: var(--lightest-slate);
        text-decoration: none;
        font-size: 22px;
        padding: 16px;
        right: 0px;
        align-items: end;
    }
    
    .navbar_logo-text{
        margin: 0 0 0 0;
    }
    .github_icon, .linkedin_icon , .twitter_icon, .email_icon{
        margin: 0px 2px 2px 2px; 
    }


}
