
*{
    scroll-behavior: smooth;
}

.home_page{
    padding: 450px 15% 250px 15%;
    display: flex;
    flex-direction: column;
    color: var(--slate);
}


.home_intro{
    display: flex;
    flex-direction: row;
    font-size: 86px;
    margin: 0;
    padding: 0;
    color: var(--lightest-slate);
}

.home_intro-name{
    font: var(--font-title);
    padding: 0 22px;
    color: var(--green-bright);
}

.home_intro2{
    font-size: 36px;
    margin: 0;
    padding: 2px;
    color: var(--slate);
}

.home_mailme{
    color: var(--lightest-slate);
    margin: 12px 0 0 0;
    max-width: 80px;
    font-size: 22px;
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out; 
}

.home_mailme:hover {
    text-decoration: underline;
}

@media (max-width: 768px){
    .home_page{
        padding-top: 450px;
        padding-left: 4%;
    }

    .home_intro{
        font-size: 42px;
        padding: 0 12px;
    }   

    .home_intro-name{
        padding: 0 12px;
    }

    .home_intro2{
        font-size: 22px;
        padding: 0 12px;
    }

    .home_mailme{
        font-size: 18px;
        padding: 0 12px;
    }
}

@media screen and (min-width:  768px) and (max-width:  1024px){
    .home_intro{
        font-size: 54px;
    }
    .home_intro2{
        font-size: 32px;
    }
    .home_mailme{
        font: 22px;
        padding: 0 12px 12px 0;
    }

}
